<p class="custom-box">
    Get to know us well, our staff are friendly and are grateful to work with your specific company and make the appropriate discounts based on your loyalty and order, get to know our Buyers, Stock takers, Drivers, Secretary Executive
  </p>
  <img src="https://github.com/Gotcha1001/My-Images-for-sites-Wes/blob/main/SUNCAT%20LOGO%20DRAWING.jpg?raw=true" alt="Company Logo" class="img-fluid image-with-border custom-image" alt="Company Logo" class="centered-image-with-border" >  