
<div class="container text-center">
  <h1>Welcome to SunCat Products</h1>
  <img src="https://github.com/Gotcha1001/My-Images-for-sites-Wes/blob/main/SUNCAT%20LOGO%20DRAWING.jpg?raw=true" alt="Company Logo" class="img-fluid image-with-border custom-image">

  <p class="custom-font purple-box" >Welcome to our amazing selection of products and brands and see our great experience in supplying bulk orders for functions and many different hotels and function businesses, take a look at our brands and we can make a deal with you. CONTACT US, send us an email and well arrange a deal at the greatest prices in the Country</p>
  <a routerLink="/send-email" class="btn btn-primary">Send Email</a>
</div>

  